.container {
  margin-bottom: 30px;
}

.label {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
}

.label + label {
  margin-left: 20px;
}

.checkbox {
  margin: 0px;
  margin-right: 4px;
  vertical-align: baseline;
}